<%- include('../main/header.ejs') %>
<div class="container">
  <div class="card">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere suscipit tempore nostrum fugit deleniti illum, eum porro nobis reprehenderit quasi culpa voluptates animi nesciunt beatae itaque delectus quidem aperiam aliquid numquam adipisci
      pariatur quod? Illo placeat facilis iure provident laboriosam iste totam omnis animi corrupti quibusdam aut vitae et velit inventore, quaerat consequatur? Ducimus necessitatibus velit itaque! Sit alias voluptatum rem deleniti quaerat vero ad
      numquam consequuntur similique, nostrum reprehenderit nemo cupiditate veritatis voluptatem voluptas porro, aperiam doloribus sapiente, qui placeat! Voluptatem totam placeat libero maiores neque magni aliquid tempora cupiditate, eveniet ullam
      assumenda error distinctio dolore ratione esse rerum?
    </div>
  </div>
</div>
<script src="/typing.js"></script>
<%- include('../main/footer.ejs') %>
