<%- include('./main/header.ejs')  %>

<form method="post">
  <label for="author">Author</label>
  <br>
  <input type="text" name="author" id="author">
  <br>
  <textarea name="content" id="" cols="18" rows="10"></textarea>
  <br>
  <input type="submit" value="Send">
</form>

<%- include('./main/footer.ejs')  %>